<app-navbarm></app-navbarm>

<div class="formacion-container">
    <header class="formacion-header">
        <h1>Formación de Juegos</h1>
        <div class="icons">
            <img src="assets/images/Raqueta_roja.png" alt="Icon 1" class="icon1">
            <img src="assets/images/Raqueta_celesta.png" alt="Icon 2" class="icon2">
        </div>
    </header>

    <!-- Tabla de Parejas -->
    <div class="parejas-box">
        <h2>Parejas</h2>
        <table class="parejas-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Puntaje</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pareja of parejas">
                    <td>{{ pareja.nombre }}</td>
                    <td>{{ pareja.puntaje }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Semifinalistas -->
    <div *ngIf="etapa === 'semifinal'" class="semifinalistas">
        <h2>Semifinalistas</h2>
        <ul>
            <li *ngFor="let pareja of semifinalistas">{{ pareja.nombre }} - Puntos: {{ pareja.puntaje }}</li>
        </ul>
    </div>

    <!-- Finalista -->
    <div *ngIf="finalista" class="finalista">
        <h2>Finalista: {{ finalista.nombre }}</h2>
    </div>

    <!-- Botones de Control -->
    <button (click)="cambiarEtapa('grupo')" class="control-button">Grupo</button>
    <button (click)="cambiarEtapa('semifinal')" class="control-button">Semifinal</button>
    <button (click)="openModal()" class="control-button">Añadir Puntaje</button>
</div>

<!-- Modal de Puntajes -->
<div id="puntajeModal" class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
        <span class="close-button" (click)="closeModal()">&times;</span>
        <header class="modal-header">
            <h2>Añadir Puntaje</h2>
        </header>
        <div class="modal-body">
            <form (ngSubmit)="addScore()">
                <div class="puntaje-group">
                    <label for="coupleName">Nombre de la Pareja</label>
                    <select [(ngModel)]="scoreForm.nombrePareja" name="nombrePareja" required>
                        <option *ngFor="let pareja of parejas" [value]="pareja.nombre">{{ pareja.nombre }}</option>
                    </select>
                </div>
                <div class="puntaje-group">
                    <label for="score">Puntaje</label>
                    <input type="number" [(ngModel)]="scoreForm.puntaje" name="puntaje" placeholder="Ingrese el puntaje"
                        required>
                </div>
                <button type="submit" class="submit-button">Guardar Puntaje</button>
            </form>
        </div>
    </div>
</div>