<app-navbarm></app-navbarm>
<div class="formacion-container">
    <header class="formacion-header">
        <h1>Formación de Juegos</h1>
        <div class="icons">
            <img src="assets/images/Raqueta_roja.png" alt="Icon 1" class="icon1">
            <img src="assets/images/Raqueta_celesta.png" alt="Icon 2" class="icon2">
        </div>
    </header>
    <div class="parejas-box">
        <div class="left-column">
            <div class="pareja pareja-red">Nombre de Pareja</div>
            <div class="pareja pareja-teal">Nombre de Pareja</div>
            <div class="pareja pareja-red">Nombre de Pareja</div>
            <div class="pareja pareja-teal">Nombre de Pareja</div>
            <div class="pareja pareja-red">Nombre de Pareja</div>
            <div class="pareja pareja-teal">Nombre de Pareja</div>
        </div>
        <div class="right-column">
            <div class="pareja pareja-red">Nombre de Pareja</div>
            <div class="pareja pareja-yellow">Nombre de Pareja</div>
            <div class="pareja pareja-teal">Nombre de Pareja</div>
        </div>
    </div>
</div>
