@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

* {
    font-family: 'Playpen Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.formacion-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    max-width: 1200px;
    margin: 5vh auto;
    text-align: center;
}

.formacion-header h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.icons img {
    width: 50px;
    height: auto;
}

.parejas-box {
    margin-top: 30px;
    padding: 20px;
    border-radius: 8px;
    background-color: #e9e9e9;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.parejas-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.parejas-table thead th {
    background-color: #0fd9bf;
    color: #ffffff;
    padding: 15px;
    font-weight: bold;
    border: 1px solid #dddddd;
}

.parejas-table tbody td {
    padding: 12px;
    border: 1px solid #dddddd;
    text-align: center;
    background-color: #ffffff;
}

.parejas-table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.submit-button,
.control-button {
    margin: 10px;
    padding: 12px 24px;
    font-size: 16px;
    background-color: #0fd9bf;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.submit-button:hover,
.control-button:hover {
    background-color: #ff6159;
    transform: translateY(-2px);
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    text-align: left;
}

.close-button {
    color: #333;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover {
    color: #ff6159;
}

.puntaje-group {
    margin-bottom: 15px;
}

.puntaje-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.puntaje-group select,
.puntaje-group input {
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
}

.pareja-semi {
    background-color: #ffd700;
    font-weight: bold;
    color: #333;
}

.pareja-final {
    background-color: #ff6159;
    font-weight: bold;
    color: #ffffff;
}