<nav class="navbar">
    <div class="navbar-logo">
        <img src="assets/images/Cocuera_Logo.png" alt="Logo">
    </div>
    <div class="navbar-links">
        <a routerLink="/storages" class="storage-link">
            <img src="assets/icons/storage.png" alt="Storage Icon" class="nav-icon">
        </a>
        <a routerLink="/courts">
            <img src="assets/icons/courts.png" alt="Courts Icon" class="nav-icon">
        </a>
        <a routerLink="/couples" class="couples-link">
            <img src="assets/icons/couples.png" alt="Couples Icon" class="nav-icon">
        </a>
        <div class="dropdown">
            <a routerLink="/login" class="login-link">
                <img src="assets/icons/user.png" alt="User Icon" class="nav-icon">
            </a>
            <div class="dropdown-content">
                <a routerLink="/logout">Cerrar Sesión</a>
            </div>
        </div>
    </div>
</nav>

<div class="canchas-container">
    <header class="canchas-header">
        <h1>Gestión de Canchas</h1>
        <div class="icons">
            <img src="assets/images/Raqueta_roja.png" alt="Icon 1" class="icon1">
            <img src="assets/images/Raqueta_celesta.png" alt="Icon 2" class="icon2">
        </div>
    </header>

<form class="canchas-form" id="canchaForm" (ngSubmit)="addCancha()">
    <h3>Añadir Cancha</h3>
    <div class="form-group">
        <label for="nombre-cancha">Nombre de Cancha</label>
        <input type="text" id="nombre-cancha" [(ngModel)]="newCancha.nombre" name="nombreCancha" placeholder="Nombre de la cancha" required>
    </div>
    <div class="form-group">
        <label for="localidad">Localidad</label>
        <input type="text" id="localidad" [(ngModel)]="newCancha.localidad" name="localidad" placeholder="Localidad de la cancha" required>
    </div>
    <div class="form-group">
        <label for="tamano-cancha">Tamaño de la Cancha</label>
        <input type="text" id="tamano-cancha" [(ngModel)]="newCancha.tamano" name="tamanoCancha" placeholder="Tamaño de la cancha" required>
    </div>
    <div class="buttons">
        <button type="submit" class="submit-button">Añadir Cancha</button>
        <button type="button" class="reset-button" (click)="resetCanchaForm()">Limpiar</button>
    </div>
</form>

<div class="canchas-box">
    <h3>Canchas</h3>
    <table>
        <thead>
            <tr>
                <th>Nombre de Cancha</th>
                <th>Localidad</th>
                <th>Tamaño</th>
                <th>Disponibilidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cancha of canchas">
                <td>{{ cancha.nombre }}</td>
                <td>{{ cancha.localidad }}</td>
                <td>{{ cancha.tamano }}</td>
                <td>{{ cancha.disponibilidad }}</td>
                <td>
                    <button (click)="editCancha(cancha)" class="submit-button">Editar</button>
                    <button (click)="deleteCancha(cancha)" class="submit-button delete">Almacenar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>