@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

* {
    font-family: 'Playpen Sans';
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: #0fd9bf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-logo img {
    width: 60px;
    height: 60px;
    margin-left: 10vh;
    border-radius: 50%;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.login-link {
    margin-right: 15px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.user-icon {
    font-size: 25px;
    color: #ffffff;
    margin-right: 5vh;
    border-radius: 20px;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #ffffff;
    margin-top: 10vh;
}

.register-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}

h1 {
    font-size: 24px;
    margin: 0;
    color: #000;
    z-index: 1;
}

.icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon1, .icon2 {
    width: 40px;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.icon1 {
    left: -15vh;
    transform: rotate(45deg) translateY(-50%);
}

.icon2 {
    right: -15vh;
    transform: rotate(-45deg) translateY(-50%);
}

.register-form {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    text-align: center;
}

input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.submit-button {
    display: block;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 30%;
    padding: 12px;
    background-color: #0fd9bf;
    color: #ffffff;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0bb8a8;
}
