<nav class="navbarm">
    <div class="navbarm-logo">
        <img src="assets/images/Cocuera_Logo.png" alt="Logo">
    </div>
    <div class="navbarm-links">
        <a routerLink="/storages" class="storage-link">
            <img src="assets/icons/storage.png" alt="Storage Icon" class="nav-icon">
        </a>
        <a routerLink="/table-formation" class="table-formation-link">
            <img src="assets/icons/gameformation" alt="Table-Formation Icon" class="nav-icon">
        </a>
        <a routerLink="/courts">
            <img src="assets/icons/courts.png" alt="Courts Icon" class="nav-icon">
        </a>
        <a routerLink="/couples" class="couples-link">
            <img src="assets/icons/couples.png" alt="Couples Icon" class="nav-icon">
        </a>
        <a routerLink="/login" class="login-link">
            <img src="assets/icons/user.png" alt="User Icon" class="nav-icon">
        </a>
    </div>
</nav>
<div class="almacen-container">
    <header class="almacen-header">
        <h1>Almacén</h1>
    </header>

    <div class="parejas-eliminadas">
        <h2>Parejas Almacenadas</h2>
        <table>
            <thead>
                <tr>
                    <th>Nombre de Pareja</th>
                    <th>Padelista 1</th>
                    <th>Padelista 2</th>
                    <th>Cancha</th>
                    <th>Puntaje</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pareja of parejasEliminadas">
                    <td>{{ pareja.nombre }}</td>
                    <td>{{ pareja.padelista1 }}</td>
                    <td>{{ pareja.padelista2 }}</td>
                    <td>{{ pareja.cancha }}</td>
                    <td>{{ pareja.puntaje }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="canchas-eliminadas">
        <h2>Canchas Almacenadas</h2>
        <table>
            <thead>
                <tr>
                    <th>Nombre de Cancha</th>
                    <th>Localidad</th>
                    <th>Tamaño</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cancha of canchasEliminadas">
                    <td>{{ cancha.nombre }}</td>
                    <td>{{ cancha.localidad }}</td>
                    <td>{{ cancha.tamano }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
