<app-navbar></app-navbar>
<div class="login-container">
    <header class="login-header">
        <h1>Inicio de sesión</h1>
        <div class="icons">
            <img src="assets/images/Raqueta_roja.png" alt="Icon 1" class="icon1">
            <img src="assets/images/Raqueta_celesta.png" alt="Icon 2" class="icon2">
        </div>
    </header>
    <form class="login-form" (ngSubmit)="login()">
        <div class="form-group">
            <label for="contacto">Teléfono/correo electrónico</label>
            <input type="text" id="contacto" placeholder="Teléfono/correo electrónico" [(ngModel)]="contacto" name="contacto" required>
        </div>
        <div class="form-group">
            <label for="contrasena">Contraseña</label>
            <input type="password" id="contrasena" placeholder="Ingrese su contraseña" [(ngModel)]="password" name="password" required>
        </div>
        <button type="submit" class="submit-button">Iniciar</button>
    </form>
</div>
