<app-navbarm></app-navbarm>
<div class="parejas-container">
    <header class="parejas-header">
        <h1>Parejas</h1>
        <div class="icons">
            <img src="assets/images/Raqueta_roja.png" alt="Icon 1" class="icon1">
            <img src="assets/images/Raqueta_celesta.png" alt="Icon 2" class="icon2">
        </div>
    </header>
    <form class="parejas-form">
        <div class="form-row">
            <div class="form-column">
                <div class="form-group">
                    <label for="nombre-pareja">Nombre de Pareja</label>
                    <input type="text" id="nombre-pareja" placeholder="Nombre de pareja">
                </div>
                <div class="form-group">
                    <label for="padelista1">Padelista 1</label>
                    <input type="text" id="padelista1" placeholder="Ingrese su Nombre">
                </div>
                <div class="form-group">
                    <label for="padelista2">Padelista 2</label>
                    <input type="text" id="padelista2" placeholder="Ingrese su Nombre">
                </div>
                <div class="form-group">
                    <label for="campo-juego">Campo de Juego</label>
                    <input type="text" id="campo-juego" placeholder="Ingrese el Nombre">
                </div>
            </div>
            <div class="form-column">
                <div class="form-group">
                    <label for="nombre-pareja2">Nombre de Pareja</label>
                    <input type="text" id="nombre-pareja2" placeholder="Nombre de pareja">
                </div>
                <div class="form-group">
                    <label for="padelista1-2">Padelista 1</label>
                    <input type="text" id="padelista1-2" placeholder="Ingrese su Nombre">
                </div>
                <div class="form-group">
                    <label for="padelista2-2">Padelista 2</label>
                    <input type="text" id="padelista2-2" placeholder="Ingrese su Nombre">
                </div>
                <div class="form-group">
                    <label for="campo-juego2">Campo de Juego</label>
                    <input type="text" id="campo-juego2" placeholder="Ingrese el Nombre">
                </div>
            </div>
            <div class="form-column">
                <div class="form-group">
                    <label for="nombre-pareja2">Nombre de Pareja</label>
                    <input type="text" id="nombre-pareja2" placeholder="Nombre de pareja">
                </div>
                <div class="form-group">
                    <label for="padelista1-2">Padelista 1</label>
                    <input type="text" id="padelista1-2" placeholder="Ingrese su Nombre">
                </div>
                <div class="form-group">
                    <label for="padelista2-2">Padelista 2</label>
                    <input type="text" id="padelista2-2" placeholder="Ingrese su Nombre">
                </div>
                <div class="form-group">
                    <label for="campo-juego2">Campo de Juego</label>
                    <input type="text" id="campo-juego2" placeholder="Ingrese el Nombre">
                </div>
            </div><div class="form-column">
                <div class="form-group">
                    <label for="nombre-pareja2">Nombre de Pareja</label>
                    <input type="text" id="nombre-pareja2" placeholder="Nombre de pareja">
                </div>
                <div class="form-group">
                    <label for="padelista1-2">Padelista 1</label>
                    <input type="text" id="padelista1-2" placeholder="Ingrese su Nombre">
                </div>
                <div class="form-group">
                    <label for="padelista2-2">Padelista 2</label>
                    <input type="text" id="padelista2-2" placeholder="Ingrese su Nombre">
                </div>
                <div class="form-group">
                    <label for="campo-juego2">Campo de Juego</label>
                    <input type="text" id="campo-juego2" placeholder="Ingrese el Nombre">
                </div>
            </div>
        </div>
        <button type="submit" class="submit-button">Cargar</button>
    </form>
</div>
