@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

* {
    font-family: 'Playpen Sans';
}

.parejas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 10vh;
}

.parejas-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}

h1 {
    font-size: 24px;
    margin: 0;
    color: #000;
    z-index: 1;
}

.icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon1, .icon2 {
    width: 40px;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.icon1 {
    left: -20vh;
    transform: rotate(45deg) translateY(-50%);
}

.icon2 {
    right: -20vh;
    transform: rotate(-45deg) translateY(-50%);
}

.parejas-form {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 5vh;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10vh;
}

.form-column {
    width: 45%;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.submit-button {
    display: block;
    margin: 20px auto 0;
    width: 20%;
    padding: 12px;
    background-color: #0fd9bf;
    color: #ffffff;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0bb8a8;
}
