<div id="puntajeModal" class="modal">

    <div class="modal-content">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <header class="modal-header">
            <h2>Puntajes</h2>
        </header>
        <div class="modal-body">
            <div class="puntajes-container">

                <div class="puntaje-column">
                    <div class="puntaje-group">
                        <label for="puntaje1">Nombre de Pareja</label>
                        <input type="text" id="puntaje1" placeholder="Ingrese un puntaje">
                    </div>
                    <div class="puntaje-group">
                        <label for="puntaje2">Nombre de Pareja</label>
                        <input type="text" id="puntaje2" placeholder="Ingrese un puntaje">
                    </div>
                    <div class="puntaje-group">
                        <label for="puntaje3">Nombre de Pareja</label>
                        <input type="text" id="puntaje3" placeholder="Ingrese un puntaje">
                    </div>
                </div>

                <div class="puntaje-column">
                    <div class="puntaje-group">
                        <label for="puntaje4">Nombre de Pareja</label>
                        <input type="text" id="puntaje4" placeholder="Ingrese un puntaje">
                    </div>
                    <div class="puntaje-group">
                        <label for="puntaje5">Nombre de Pareja</label>
                        <input type="text" id="puntaje5" placeholder="Ingrese un puntaje">
                    </div>
                    <div class="puntaje-group">
                        <label for="puntaje6">Nombre de Pareja</label>
                        <input type="text" id="puntaje6" placeholder="Ingrese un puntaje">
                    </div>
                </div>
            </div>
            <button class="submit-button">Cargar</button>
        </div>
    </div>
</div>
