@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

* {
    font-family: 'Playpen Sans';
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ff6159;
    width: 60%;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.close-button {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover {
    color: #ff6159;
}

.modal-header {
    text-align: center;
    margin-bottom: 20px;
}

.modal-header h2 {
    font-size: 24px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.puntajes-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
}

.puntaje-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.puntaje-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

input[type="text"] {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ff6159;
    text-align: center;
}

.submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0fd9bf;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0bb8a8;
}
