<nav class="navbar">
    <div class="navbar-logo">
        <img src="assets/images/Cocuera_Logo.png" alt="Logo">
    </div>
    <div class="navbar-links">
        <a href="/courts" class="">
            <i class="fa-regular fa-pen-to-square"></i>
        </a>
        <a href="/couples" class="couples-link">
            <i class="fa-solid fa-user-group"></i>
        </a>
        <a href="/login" class="login-link">
            <i class="fa-regular fa-user user-icon"></i>
        </a>
    </div>
</nav>
