@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

* {
    font-family: 'Playpen Sans';
    box-sizing: border-box;
}

.navbarm {
    width: 100%;
    height: 80px;
    background-color: #0fd9bf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}

.navbarm-logo img {
    width: 60px;
    height: 60px;
    margin-left: 10vh;
    border-radius: 50%;
}

.navbarm-links {
    display: flex;
    align-items: center;
}

.navbarm-links a {
    font-size: 25px;
    margin: 0 30px;
    color: #ffffff;
    text-decoration: none;
}

.storage-link i,
.user-icon,
.fa-user-group,
.fa-pen-to-square {
    font-size: 25px;
    color: #ffffff;
    margin-right: 5vh;
    border-radius: 20px;
    width: auto;
    height: auto;
}

.almacen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 100px;
    background-color: #ffffff;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    margin-top: 5vh;
}

.almacen-header {
    text-align: center;
    margin-bottom: 30px;
}

.almacen-header h1 {
    font-size: 32px;
    color: #000;
}

.parejas-eliminadas,
.canchas-eliminadas {
    width: 100%;
    max-width: 600px;
    margin-top: 30px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.parejas-eliminadas h2,
.canchas-eliminadas h2 {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    background-color: #0fd9bf;
    margin: 0;
}

.parejas-eliminadas table,
.canchas-eliminadas table {
    width: 100%;
    border-collapse: collapse;
}

.parejas-eliminadas th,
.parejas-eliminadas td,
.canchas-eliminadas th,
.canchas-eliminadas td {
    text-align: center;
    padding: 15px;
    border: 1px solid #ddd;
}

.parejas-eliminadas th,
.canchas-eliminadas th {
    background-color: #0fd9bf;
    color: #ffffff;
    font-weight: bold;
}

.parejas-eliminadas td,
.canchas-eliminadas td {
    background-color: #ffffff;
    color: #333;
}

@media (max-width: 768px) {
    .almacen-container {
        padding: 10px;
    }

    .parejas-eliminadas,
    .canchas-eliminadas {
        max-width: 100%;
    }

    .navbarm-logo img {
        margin-left: 5vh;
    }

    .navbarm-links a {
        margin: 0 15px;
    }
}
